@import "ui/Styles/Theme.scss";

MayorAdvert {
    height: 100%;
    width: 100%;
    background-color: black;
    justify-content: center;
    transition: $transition-normal;
    flex-direction: column;
    align-items: center;

    span {
        font-size: 100px;
        align-content: center;
        justify-content: center;
        color: white;
    }

    @keyframes slide {
        0% { transform: translateX(0); }
        33% { transform: translateX(-100%); }
        66% { transform: translateX(-200%); }
        100% { transform: translateX(0); }
    }

    &:intro { animation: slide 6s infinite; }
}
