HudSettingsColorsPage {
    height: 100%;
    width: 100%;
    padding: 10px;

    ul {
        gap: 5px;
        flex-wrap: wrap;
        background-color: rgba(20, 20, 20, 0.99);
        padding: 5px;

        li {
            height: 32px;
            width: 32px;
            border-radius: 6px;
            opacity: 0.5;
            transition: all 0.2s ease;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .auto_hide {
        background-color: rgba(20, 20, 20, 0.99);
    }
}
