@import "ui/Styles/Theme.scss";

HudSettingsColorsPage {
    height: 100%;
    width: 100%;
    padding: 10px;

    ul {
        gap: 5px;
        flex-wrap: wrap;
        background-color: $surface-dark;
        padding: 5px;

        li {
            height: 32px;
            width: 32px;
            border-radius: $rounding;
            opacity: 0.5;
            transition: $transition-fast;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .auto_hide {
        background-color: $surface-dark;
    }
}
