@import "ui/Styles/Theme.scss";
@import "ui/Styles/MenuSystem.scss";

PropsMenu {
    display: none;
    opacity: 0;
    position: absolute;
    transition: $transition-fast;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    &.open {
        display: flex;
        opacity: 1;
        pointer-events: all;
    }

    .container {
        position: relative;
        height: 70%;
        width: 58%;
        background-color: $surface-card;
        backdrop-filter: $blur;
        border-radius: $rounding-lg;
        padding: 0px;
        gap: 20px;
        overflow: hidden;
        border: 1px solid $border;

        .bglife {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -2;
            mask-image: url("ui/core.png");
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
            background-image: url("ui/core.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            opacity: 0.5;
        }

        .close {
            position: absolute;
            top: 25px;
            right: 25px;
            padding: 5px;
            z-index: 50;
            border-radius: $rounding;
            cursor: pointer;
            transition: $transition-fast;

            svg {
                height: 32px;
                width: 32px;
            }

            &:hover { background-color: rgba($red, 0.2); }
        }

        .navbar {
            height: 100%;
            width: 15%;
            background-color: $surface-dark;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 50px 0px;

            .logo-nav {
                height: 100px;
                width: 100px;

                .bglife-nav {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    z-index: -2;
                    mask-image: url("ui/core.png");
                    mask-position: center;
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    background-image: url("ui/core.png");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    opacity: 0.8;
                }
            }

            a {
                height: 10%;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;
                cursor: pointer;
                transition: $transition-fast;
                opacity: 0.5;
                border-radius: $rounding-sm;
                gap: 10px;

                * { font-size: 16px; }

                .icon {
                    justify-content: center;
                    align-items: center;
                }

                span { width: 80%; }

                svg {
                    height: 54px;
                    width: 32px;
                }

                &:hover {
                    color: $accent;
                    background-color: rgba($accent, 0.15);
                    opacity: 1;
                }
            }
        }

        .navigator-canvas, .navigator-body {
            height: 100%;
            width: 90%;
            flex: 1;

            .page-title {
                * {
                    font-size: 32px;
                    font-weight: 600;
                    color: white;
                    margin-bottom: 20px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}
