@using Sandbox;
@using Sandbox.UI;
@using OpenFramework.World.Devices.Shared

@implements IDevice.IScreenContext
@inherits Panel
@namespace OpenFramework.World.Devices.Phone

@if (Client.Local == null) return;

<root @onclick=@Unlock>
    <div class="header">
        <div class="time">@DateTime.Now.ToString("HH:mm")</div>
        <div class="date">@DateTime.Now.ToString("dddd, MMMM dd")</div>
    </div>
    <DeviceNotificationContainer />
    <div class="unlock-hint">Appuyez pour déverrouiller</div>
</root>

@code {
    public IDevice AttachedDevice { get; set; }

    private void Unlock()
    {
        Delete();
        Parent.AddChild( new HomeScreen() { AttachedDevice = AttachedDevice } );
    }

    protected override int BuildHash() => HashCode.Combine( DateTime.Now.Minute );
}
