MainMenuComponent
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.MainMenuPanel{
		height:100%;
		width:100%;
	}
}