.hc1
{
    .blur
    {
        backdrop-filter: $blur;
    }
}

button {
    font-family: $main-font;
    font-size: 18px;
    color: white;
    transition: $transition-fast;

    &.standard {
        padding: $button-standard-padding;
        background-color: rgba(black, 0.4);
        pointer-events: all;
        cursor: pointer;
        text-transform: uppercase;
        flex-shrink: 0;
        border-radius: $rounding;
        border: 1px solid rgba(white, 0.08);
        justify-content: center;
        align-items: center;
        gap: 8px;
        letter-spacing: 0.5px;

        &.smaller {
            padding: $button-small-padding;
            font-size: 14px;
        }

        label, i {
            transition: $transition-fast;
        }

        &:not(.disabled) {
            &:hover, &.selected {
                background-color: rgba(white, 1);
                sound-in: ui.button.over;
                border-color: rgba(white, 0.2);

                label, i {
                    color: black;
                }
            }

            &:active {
                transform: scale(0.97);
                sound-in: ui_press;
            }
        }

        &.accent {
            background-color: $accent;
            border-color: transparent;

            &:hover {
                background-color: $accent-hover;
                label, i { color: rgba(black, 0.8); }
            }
        }

        &.warning {
            background-color: rgba(orange, 0.9);
            border-color: transparent;
        }

        &.action {
            &:active {
                sound-in: ui_action;
            }
        }

        &.extra-x-padding {
            padding-left: 48px;
            padding-right: 48px;
        }

        &.disabled {
            cursor: default;
            opacity: 0.4;
        }

        label { height: 24px; }
        i     { height: 20px; }
    }

    &:active {
        sound-in: ui_press;
    }

    &:hover {
        sound-in: ui.button.over;
        background-color: rgba($accent, 0.15);
        border-radius: $rounding-sm;
    }
}
