@import "ui/Styles/Theme.scss";
@import "ui/Styles/MenuSystem.scss";

DashboardPage {
    height: 100px;
    width: 100px;

    .current {
        position: relative;
        background-color: rgba(25, 25, 25, 0.7);
        flex-direction: row;
        height: 150px;
        width: 100px;

        .value {
            color: rgba(white, 0.9);
            transition: color 0.2s ease;

            &.negative {
                color: $red;
                font-weight: bold;
                text-shadow: 0 0 10px rgba($red, 0.3);
            }
        }

        .bank {
            position: relative;
            padding: 2px;
            font-size: 5px;
            height: 100%;
            width: 100%;
            flex-direction: row;
            color: white;
            justify-content: center;
            align-items: center;
            gap: 2px;
        }
    }
}
