@import "ui/Styles/Theme.scss";
@import "ui/Styles/MenuSystem.scss";

TransactionPage {
    flex-direction: column;
    background-color: $surface-dark;
    align-items: center;

    button {
        width: 75px;
        justify-content: center;
        align-items: center;
        background-color: rgba($red, 0.8);
        align-self: center;

        &:hover { background-color: $red; }
    }

    h3 {
        label { font-size: 5px; }
    }

    select {
        justify-content: center;
        height: 20px;
        width: 100px;
        align-items: center;

        &:hover { background-color: transparent; }

        option { background-color: $surface-dark; }

        .result {
            position: relative;
            justify-content: center;
        }
    }
}
