@import "ui/Styles/Theme.scss";

WithdrawPage {
    .deposit-container {
        position: relative;
        background-color: $surface-dark;
        flex-direction: column;
        align-items: center;
    }

    .input-deposit {
        position: relative;
        flex-direction: column;
        width: 100px;
        height: 100px;
        justify-content: center;
        align-items: center;

        span {
            &:first-child {
                label { font-size: 5px; }
            }
        }

        .TextEntry {
            position: relative;
            justify-content: center;
            background-color: $surface-input;
            width: 50px;
            height: 10px;
            color: white;
        }

        .button {
            z-index: -2;
            position: relative;
            margin-top: 3px;
            justify-content: center;
            height: 10px;
            width: 80px;
            border-radius: $rounding-sm;
            align-items: center;
            cursor: pointer;
            transition: $transition-fast;
            background-color: $surface-dark;

            span {
                label { font-size: 8px; }
            }

            &:hover { background-color: rgba($accent, 0.4); }
        }
    }
}
