{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "Z",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "None"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Walk",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "alt",
      "GamepadCode": "None"
    },
    {
      "Name": "Duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "Ctrl",
      "GamepadCode": "B"
    },
    {
      "Name": "attack1",
      "GroupName": "Weapon Handling",
      "Title": null,
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "attack2",
      "GroupName": "Weapon Handling",
      "Title": null,
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "reload",
      "GroupName": "Weapon Handling",
      "Title": null,
      "KeyboardCode": "r",
      "GamepadCode": "X"
    },
    {
      "Name": "Voice",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "RightJoystickButton"
    },
    {
      "Name": "Drop",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "g",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "Score",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "ChatUI",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "T",
      "GamepadCode": "None"
    },
    {
      "Name": "Radio",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "CAPSLOCK",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "Noclip",
      "GroupName": "Development",
      "Title": null,
      "KeyboardCode": "MOUSE4",
      "GamepadCode": "None"
    },
    {
      "Name": "SpectatorNext",
      "GroupName": "Spectator",
      "Title": null,
      "KeyboardCode": "MOUSE1",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "SpectatorPrev",
      "GroupName": "Spectator",
      "Title": null,
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "Slot1",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "1",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot2",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "2",
      "GamepadCode": "None"
    },
    {
      "Name": "DeveloperMenu",
      "GroupName": "Development",
      "Title": null,
      "KeyboardCode": "KP_6",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot3",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "3",
      "GamepadCode": "None"
    },
    {
      "Name": "BuyMenu",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "B",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "Slot4",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "4",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot5",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "5",
      "GamepadCode": "None"
    },
    {
      "Name": "Use",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "E",
      "GamepadCode": "Y"
    },
    {
      "Name": "SpectatorFreeCam",
      "GroupName": "Spectator",
      "Title": null,
      "KeyboardCode": "SPACE",
      "GamepadCode": "Y"
    },
    {
      "Name": "SpectatorMode",
      "GroupName": "Spectator",
      "Title": null,
      "KeyboardCode": "X",
      "GamepadCode": "X"
    },
    {
      "Name": "Ping",
      "GroupName": "Team",
      "Title": null,
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None"
    },
    {
      "Name": "ActionMenu",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "F",
      "GamepadCode": "None"
    },
    {
      "Name": "Up",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "UPARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "Down",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "DOWNARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "Return",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "BACKSPACE",
      "GamepadCode": "None"
    },
    {
      "Name": "Select",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "ENTER",
      "GamepadCode": "None"
    },
    {
      "Name": "cursor",
      "GroupName": "UI",
      "Title": "",
      "KeyboardCode": "O",
      "GamepadCode": "None"
    },
    {
      "Name": "PersonalActionMenu",
      "GroupName": "Temporary",
      "Title": "PersonalActionMenu",
      "KeyboardCode": ",",
      "GamepadCode": "None"
    },
    {
      "Name": "ArrowLeft",
      "GroupName": "Movement",
      "Title": "ArrowLeft",
      "KeyboardCode": "LEFTARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "ArrowRight",
      "GroupName": "Movement",
      "Title": "ArrowRight",
      "KeyboardCode": "RIGHTARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "voicecycle",
      "GroupName": "Temporary",
      "Title": null,
      "KeyboardCode": "RIGHTARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "voiceup",
      "GroupName": "Temporary",
      "Title": null,
      "KeyboardCode": "B",
      "GamepadCode": "None"
    },
    {
      "Name": "FireMode",
      "GroupName": "Temporary",
      "Title": null,
      "KeyboardCode": "X",
      "GamepadCode": "None"
    },
    {
      "Name": "jobvotemenu",
      "GroupName": "Job",
      "Title": "jobvotemenu",
      "KeyboardCode": "KP_4",
      "GamepadCode": "None"
    },
    {
      "Name": "grab",
      "GroupName": "Grab System",
      "Title": null,
      "KeyboardCode": "F",
      "GamepadCode": "None"
    },
    {
      "Name": "throw",
      "GroupName": "Grab System",
      "Title": null,
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "None"
    },
    {
      "Name": "Inventory",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "I",
      "GamepadCode": "None"
    },
    {
      "Name": "map",
      "GroupName": "Other",
      "Title": "Map",
      "KeyboardCode": "M",
      "GamepadCode": "None"
    },
    {
      "Name": "PhoneToggle",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "UPARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "respawn",
      "GroupName": "Grab System",
      "Title": null,
      "KeyboardCode": "F",
      "GamepadCode": "None"
    }
  ],
  "__guid": "bcccc875-ac58-4719-a08e-4d5b3875734a",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}