@using Sandbox.UI;

@namespace OpenFramework.World.Devices.Apps.Police
@inherits Panel

<root>
    <div class="navbar">
        <svg class="branding" src="ui/icons/apps/policeicon.svg" color="#273CF5" />
        <ul>
            <div class="nav-item @(_page == "home" ? "active" : "")" @onclick=@(() => SetPage("home"))>
                <svg class="icon" src="ui/icons/home.svg" color="white" />
                <span>Accueil</span>
            </div>
            <div class="nav-item @(_page == "finance" ? "active" : "")" @onclick=@(() => SetPage("finance"))>
                <svg class="icon" src="ui/icons/apps/finance.svg" color="white" />
                <span>Finance</span>
            </div>
            <div class="nav-item @(_page == "amendes" ? "active" : "")" @onclick=@(() => SetPage("amendes"))>
                <svg class="icon" src="ui/icons/dollars_circle.svg" color="white" />
                <span>Amendes</span>
            </div>
        </ul>
    </div>

    <div class="navigator-canvas">
        @if ( _page == "home" )    { <HomePagePolice /> }
        @if ( _page == "finance" ) { <FinancePagePolice /> }
        @if ( _page == "amendes" ) { <FinesPagePolice /> }
    </div>
</root>

@code
{
    private string _page = "home";

    private void SetPage( string page ) => _page = page;

    protected override int BuildHash() => _page.GetHashCode();
}
