@using System;
@using Sandbox.UI;
@using Sandbox.UI.Navigation;

@namespace OpenFramework.World.Devices.Apps.Police
@inherits NavigationHost

<root>
    <div class="navbar">
        <svg class="branding" src="ui/icons/apps/policeicon.svg" color="#273CF5" />
        <ul>
            <a href="/">
                <svg class="icon" src="ui/icons/home.svg" color="white" />
                <span>Accueil</span>
            </a>
            <a href="/finance">
                <svg class="icon" src="ui/icons/apps/finance.svg" color="white" />
                <span>Finance</span>
            </a>
            <a href="/amendes">
                <svg class="icon" src="ui/icons/dollars_circle.svg" color="white" />
                <span>Amendes</span>
            </a>
        </ul>
    </div>
    <div class="navigator-canvas" slot="navigator-canvas" />
</root>

@code
{
    public PoliceApp_navigator()
    {
        DefaultUrl = "/";
        AddDestination("/", typeof(HomePagePolice));
        AddDestination("/finance", typeof(FinancePagePolice));
        AddDestination("/amendes", typeof(FinesPagePolice));
    }
}
