@using Sandbox;
@using Sandbox.UI;
@using Sandbox.UI.Navigation
@using Sandbox.WeatherSystem
@using OpenFramework.World.Devices.Phone

@namespace OpenFramework.World.Devices
@implements IDevice.IScreenContext
@inherits PanelComponent

<root class="@(IsOpen ? "open" : "")">
    <div class="topbar">
        <div class="left">
            <label class="time">@_weatherSystem?.GetFormattedTime()</label>
        </div>

        <div class="dynamic-island"></div>

        <div class="right">
            <NetworkSignal SignalStrength="@(4)" />
            <!--<div class="wifi-icon"></div> -->
            <BatteryLevel Percentage="@(50)" IsCharging="@(false)" />
        </div>
    </div>
    <div class="navigator-canvas" @ref="CanvasRef"></div>
</root>

@code
{
    WeatherSystem _weatherSystem => Game.ActiveScene?.GetComponentInChildren<WeatherSystem>();
    [Property] public IDevice AttachedDevice { get; set; }
    bool IsOpen = true;
    Panel CanvasRef;

    /*protected override void OnAwake()
    {
        Mouse.Visibility = MouseVisibility.Visible;
    }*/

    protected override void OnDestroy()
    {
        Mouse.Visibility = MouseVisibility.Auto;
    }

    protected override void OnTreeFirstBuilt()
    {
        Panel.Focus();
        CanvasRef.AddChild(new LockScreen() { AttachedDevice = AttachedDevice });
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( IsOpen, (int)(Time.Now * 5f) );
    }
}
