@using Sandbox;
@using Sandbox.UI;
@using OpenFramework.World.Devices.Apps.Police;

@namespace OpenFramework.World.Devices
@implements IDevice.IScreenContext
@inherits PanelComponent

<root>
    <div class="screen-wrapper">
        <div class="topbar">
            <div class="close-btn" @onclick=@Close>
                <svg src="ui/icons/close.svg" color="white" />
            </div>
        </div>
        <div class="app-container">
            <PoliceApp_navigator />
        </div>
    </div>
</root>

@code
{
    [Property] public IDevice AttachedDevice { get; set; }

    protected override void OnTreeFirstBuilt()
    {
        Mouse.Visibility = MouseVisibility.Visible;
        Panel.Focus();
    }

    private void Close()
    {
        AttachedDevice?.PowerOff();
    }

    protected override void OnDestroy()
    {
        Mouse.Visibility = MouseVisibility.Auto;
    }

    protected override int BuildHash() => 0;
}
