@using OpenFramework.Systems.Npc
@using OpenFramework.Systems.Jobs

@inherits BaseApp
@namespace OpenFramework.World.Devices.Apps.Medic

<root>
    <button class="close">
        <svg src="ui/icons/close.svg" color="white" @onclick=@(() => OnClose()) />
    </button>

   <MedicApp_navigator/>

</root>

@code {
    public override string AppId => "medic";
    public override string DisplayName => "Medic";
    public override string Icon => "ui/icons/apps/medic_icon.svg";
    public override string IconColor => "#FF1414";
    public override string BackgroundColor => "#FFFFFF";
    public override bool IsSystemApp => (JobAccess == JobList.None ? false : true);
    public override JobList JobAccess => JobList.Medic;
    public override Type SplashScreen => typeof(MedicApp_splash);
    public override DeviceKind Compatibility => DeviceKind.TV | DeviceKind.Phone | DeviceKind.Computer | DeviceKind.Tablet;
}
